@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
/* common css */
.container {
  width: 1170px;
  margin: 0 auto;
}
.primary-btn {
  background: #e02c6d;
  border-radius: 40px;
  padding: 10px 24px;
  border: none;
  outline: none;
}
.primary-btn a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
/* header start */
header {
  padding-top: 30px;
  height: 80px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: relative;
}
.logo a {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
}
.mobile-btn {
  display: none;
  color: #1b1b1b;
  font-size: 24px;
  border: none;
  outline: none;
  background: none;
  position: absolute;
}
.menu {
  display: flex;
  align-items: center;
  gap: 34px;
}

.menu-bar {
  display: flex;
  align-items: center;
  gap: 34px;
}
.menu-bar li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
}
/* end header */
/* hero part start  */
section.hero-part {
  margin-top: 50px;
}
.hero-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-left-col,
.hero-right-col {
  width: 50%;
}
.hero-right-col {
  background-image: url(../images/Circle-design.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.hero-right-col img {
  object-fit: none;
}
.section-title {
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
}
.section-para {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin: 16px 0;
}

/* end hero part */

/* client company style */
.client {
  padding: 69px 0px;
}
.client-company {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  grid-gap: 60px;
  padding: 34px 62px;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
/* end client company style */
/* collection style */

.collection-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  text-align: center;
  color: #3a3a3a;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 1017px;
  margin: 0 auto;
}
.collection-item {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 14px;
  width: 329px;
}
.item-thumb {
  max-width: 300px;
  height: 256px;
  margin-bottom: 16px;
}
.item-con .item-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
  text-transform: capitalize;
}
.item-con .item-price {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
}
.item-icons i {
  color: #fb8200;
}
.item-icons span {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #5e6366;
  font-family: "Roboto";
}
.collection-item .item-para {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #787885;
  margin-top: 5px;
}
.see-more {
  text-align: right;
  margin-top: 50px;
  margin-right: 4%;
}
.see-more a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(224, 44, 109, 0.87);
}

/* end collection style */
/* feature style here */
.feature {
  padding: 100px 0;
}
.feature-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-left-col {
  width: 45%;
}
.feature-left-col img {
  width: 404px;
}
.feature-right-col {
  width: 55%;
}
.feature-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
  color: #0a0826;
}
.feature-para {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
  margin: 16px 0;
}
/* end feature style */
/* footer  */
footer {
  background-color: #000000;
  padding: 50px 0;
}
.footer-item {
  text-align: center;
}
.footer-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}
.copyright {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
}
.footer-icons {
  margin-top: 17px;
}
.footer-icons i {
  color: #fff;
  font-size: 17px;
  background: #6e57578f;
  padding: 8px;
  border-radius: 50px;
  margin-left: 16px;
}
/* end footer */
