@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
/* common css */
.container {
  width: 1170px;
  margin: 0 auto;
}

/* header start */
header {
  padding-top: 30px;
  height: 80px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.logo a {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
}
.menu {
  display: flex;
  align-items: center;
  gap: 34px;
}

.menu-bar {
  display: flex;
  align-items: center;
  gap: 34px;
}
.menu-bar li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
}
/* end header */
/* hero part start  */
section.hero-part {
  margin-top: 50px;
}
.hero-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-left-col,
.hero-right-col {
  width: 50%;
}
.hero-right-col {
  background-image: url(../images/Circle-design.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.hero-right-col img {
  object-fit: none;
}
.section-title {
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
}
.section-para {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin: 16px 0;
}
.hero-btn {
  background: #e02c6d;
  border-radius: 40px;
  padding: 10px 24px;
  border: none;
  outline: none;
}
.hero-btn a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
/* end hero part */

/* client company style */
.client {
  margin: 69px 100px;
}
.client-company {
  display: flex;

  align-items: center;
  gap: 60px;
  padding: 34px 62px;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
/* end client company style */
